#body{
    background: linear-gradient(rgb(0, 38, 128), rgb(12, 137, 255) );
  }
  
  button, input {
    display: block;
    margin-bottom: 10px;
  }
  
  #alert {
    display: none;
    color: red;
    margin-bottom: 10px;
  }
  h1{
    text-align: center;
  }
  a{
    text-decoration: none;
  }
  .sign_up{
    height:auto; 
    padding:3px 0; 
  }
 